$white-color: #ffffff;
$primary-color: #020203;
$secondary-color: #ff0101;

// FONTS WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// FONT FAMILY
$font-primary: "Roboto", sans-serif;

// FONTS SIZE
$font-heading-1: 4rem;
$font-heading-2: 2.5rem;
$font-heading-3: 2rem;
$font-size-body: 1.8rem;
$font-size-element: 14px;

// FONT LINE HEIGHT
$font-line-height-heading-1: 48px;
$font-line-height-heading-2: 40px;
$font-line-height-heading-3: 26px;
$font-line-height-body: 26px;

// FONT LETTER SPACING
$font-letter-spacing-middle: 2px;
$font-letter-spacing-high: 5px;
